.main {
    height: 100%;
    width: 100%;
}


.round {
    border: 5px solid gray;
    border-radius: 50%;
}

.profile-img {
    width: 200px;
    height: 200px;
    background-image: url("https: //media.istockphoto.com/id/1180979710/es/foto/gato-de-pelo-largo-brit%C3%A1nico-sentado-y-tratando-de-llegar-a-algo-serio.jpg?s=612x612&w=0&k=20&c=uaFQHx1yzIGcbZkU4Nj7C3EMckX1lNyR-KX7IFbusnI=")
}