{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        <tr>

        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">Cash</td>

        </tr>
        <tr>
            <td colspan="5">TOTAL</td>

        </tr>
    </tfoot>
</table>
{% endblock %}
